<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/mainstyle.css">
    <link rel="stylesheet" href="/css/menu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>예약하기</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Animate css file for css3 animations. for more : https://daneden.github.io/animate.css -->
	<!-- Only use animate action. If you dont use animation, you don't have to add.-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/cryptocoins.css">
	<link rel="stylesheet" type="text/css" href="plugins/c3-chart/c3.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css/global.style.css">

	<!-- Swiper slider css file -->
	<link rel="stylesheet" href="css/swiper.min.css">

	<!--turbo slider plugin css file -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="plugins/turbo-slider/turbo.css">

</head>

<body>
	
	<div class="wrapper ">
		<div class="nav-menu">
			<nav class="menu">
				
				<!-- Menu navigation start -->
				<div class="nav-container">
					<ul class="main-menu">
						<li class="">
							<a href="index.html"><img src="img/content/icons/1.png" alt=""><strong class="special">Dashboard</strong> </a>
						</li>
						<li class="">
							<a href="wallet.html"><img src="img/content/icons/2.png" alt=""><strong class="special">My Walet</strong> </a>
						</li>
						<li class="">
							<a href="trading.html"><img src="img/content/icons/3.png" alt=""><strong class="special">Crypto Trade</strong> </a>
						</li>
						<li class="">
							<a href="buy-sell.html"><img src="img/content/icons/6.png" alt=""><strong class="special">Buy & sell</strong> </a>
						</li>
						<li class="">
							<a href="profile.html"><img src="img/content/icons/5.png" alt=""><strong class="special">Trader Profile</strong> </a>
						</li>
						<li class="active">
							<a href="affiliate.html"><img src="img/content/icons/4.png" alt=""><strong class="special">Affiliate System</strong> </a>
						</li>
						<li class="">
							<a href="setting.html"><img src="img/content/icons/11.png" alt=""><strong class="special">Settings</strong> </a>
						</li>
						<li>
							<a href="javascript:void(0);"><img src="img/content/icons/9.png" alt=""><strong class="special">Login/Register</strong> <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="login.html" data-loader="show">Login</a></li>
								<li><a href="signup.html" data-loader="show">Register</a></li>
								<li><a href="forgot-password.html" data-loader="show">Forgot Password</a></li>
							</ul>
						</li>
						
						<li>
							<a href="javascript:void(0);"><img src="img/content/icons/8.png" alt=""> <strong class="special">Wizards</strong> <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="wizard-default.html" data-loader="show">Wizard Default</a></li>
								<li><a href="wizard-fullscreen.html" data-loader="show">Wizard Fullscreen</a></li>
							</ul>
						</li>
						<li class="">
							<a href="charts.html"><img src="img/content/icons/14.png" alt=""><strong class="special">Charts</strong> </a>
						</li>
						<li>
							<a href="forms.html" data-loader="show"><img src="img/content/icons/7.png" alt=""><strong class="special">Form Elements</strong></a>
						</li>
						<li>
							<a href="#"><img src="img/content/icons/10.png" alt=""><strong class="special"> Components</strong> <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="tab-bottom.html" data-loader="show">Tab (Bottom)</a></li>
								<li><a href="tab-top.html" data-loader="show">Tab (Top)</a></li>
								<li><a href="accordion.html" data-loader="show">Accordion</a></li>
								<li><a href="popup.html" data-loader="show">Popup Modal</a></li>
								<li><a href="checkbox-list.html" data-loader="show">Check List</a></li>
								<li><a href="link-list.html" data-loader="show">Link List</a></li>
								<li><a href="link-list-two-column.html" data-loader="show">Two Column Links</a></li>
							</ul>
						</li>
						<li class="">
							<a href="#"><img src="img/content/icons/15.png" alt=""><strong class="special"> Pages</strong> <span class="fa fa-angle-down"></span></a>
							<ul>
								<li class=""><a href="profile.html" data-loader="show">User Profile</a></li>
								<li><a href="search-result.html" data-loader="show">Search Results</a></li>
								<li><a href="contact.html" data-loader="show">Contact</a></li>
								<li><a href="blank.html" data-loader="show">Blank Page</a></li>
							</ul>
						</li>
					</ul>
				</div>
			<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler">
			<div class="hamburger"><div></div></div>
			<div class="menu">
			  <div>
				<div>
				  <ul>
					<li><a href="main">메인화면</a></li>
					<li><a href="login">로그아웃</a></li>
					<li><a href="main_2">계좌등록</a></li>
					<li><a href="main_2">계좌해지</a></li>
					<li><a href="receipt_list">진료내역</a></li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			
			<!-- Header area end -->

			<!--NOTIFICATION BOX CONTENT START-->
			

			<!-- Page content start -->
			<main class="margin mt-0">

				<div class="dash-balance">
					<div class="dash-content relative">
						<h3 class="w-text">Reservation</h3>
						<div class="notification">
							<a href=""><i class="fa fa-plus"></i></a>
						</div>
					</div>
				</div>

				

				<section class="container">
			         <div id="content"> 
			         	<h4 class="title-main">Calendar</h4>
					    <div class="c-panel pl-0">
					    	
					        <div class="row align-items-center">
					        	<div class="col-12">
                                    <img src="img/calendar.png" width="350" height="250" alt="" />
                                    
                                    
					        		
                                </div>
                                
                                
					        	
					        </div>     
					    </div>
		  			</div>
			    </section>

			    <section class="container refer mt-15">
			    	<div id="cont">
						
					    <div id="content-body">
					    	
							<div class="ref-content">
								<h4 class="mt-0">Enter Date</h4>
					        	<div class="form-row-group relative">
									<div class="form-row no-padding">
										<input type="text" name="aaa" class="form-element" value="Year">
                                        <input type="text" name="bbb" class="form-element" value="Month">
                                        <input type="text" name="ccc" class="form-element" value="Date">
                                        
                                    </div>
                                    <div class="form-row no-padding">
										<input type="text" name="ddd" class="form-element" value="Hour">
                                        <input type="text" name="eee" class="form-element" value="Minute">
                                        
                                    </div>
                                    
								</div>
								
								<button class="button circle darkblue block" data-popup="standartPopup">Make Reservation!</button>
								
								
							</div>
					    </div>
					</div>
			    </section>

	<!--POPUP HTML CONTENT START -->
	<div class="popup-overlay" id="standartPopup"> <!-- if you dont want overlay add class .no-overlay -->
		<div class="popup-container">
			<div class="popup-header">
				<h3 class="popup-title">Complete Reservation!!</h3>
				<span class="popup-close" data-dismiss="true"><i class="fa fa-times"></i></span>
			</div>
			<div class="popup-content">
				백주리 님의 예약정보 : 뉴스타트병원, 2020년 8월 20일 5:00 PM
			</div>
			<div class="popup-footer">
				
				<button class="button" data-dismiss="true">OK</button>
			</div>
		</div>
	</div>
	<!--POPUP HTML CONTENT END -->		    

				

				
			</main>
			<!-- Page content end -->
		</div>
	</div>

	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>

	 <!-- Initialize Swiper -->
 	
  	<!-- c3 Charts -->
	<script src="plugins/c3-chart/c3.min.js"></script>
	<script src="plugins/c3-chart/d3.min.js"></script>
	<script src="plugins/c3-chart/c3.custom.js"></script>
  	<!-- Flot Charts -->
	<script src="plugins/flot/jquery.flot.min.js"></script>
	<script src="plugins/flot/jquery.flot.time.min.js"></script>
	<script src="plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script src="plugins/flot/jquery.flot.resize.min.js"></script>
    <!-- Sparkline-->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js/app-charts.js"></script>
	<script src="js/global.script.js"></script>



</body>

</html>